<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Adiantamento aos Sócios</th>
      <th>Adto a Sócios</th>
      <th>Banco Itau</th>
      <th>Clientes</th>
      <th>Despesas Bancarias</th>
      <th>Faturamento</th>
      <th>Fornecedores</th>
      <th>Honorários Profissionais</th>
      <th>INSS</th>
      <th>Impostos a Recolher</th>
      <th>Impostos e Taxas</th>
      <th>Impostos sobre as vendas</th>
      <th>Investimentos</th>
      <th>PL</th>
      <th>Receita Financeira</th>
      <th>Resultado Exercicio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>amount</th>
      <td>0.00</td>
      <td>0.00</td>
      <td>21659.44</td>
      <td>93188.13</td>
      <td>817.98</td>
      <td>-367904.41</td>
      <td>0.00</td>
      <td>97030.23</td>
      <td>1054.68</td>
      <td>-3784.38</td>
      <td>293.80</td>
      <td>27569.99</td>
      <td>0.00</td>
      <td>-111063.19</td>
      <td>-301.59</td>
      <td>241439.32</td>
    </tr>
  </tbody>
</table>